<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operasi Matriks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Program Operasi Matriks</h1>

    <div class="row">
        <div class="left">
            <div id="matriksA"></div>
            <div id="matriksB"></div>
        </div>

        <div class="right">
            <h3>Ukuran Matriks A</h3>
            <input type="number" id="barisA" placeholder="Baris">
            <input type="number" id="kolomA" placeholder="Kolom">

            <h3>Ukuran Matriks B</h3>
            <input type="number" id="barisB" placeholder="Baris">
            <input type="number" id="kolomB" placeholder="Kolom">

            <button onclick="input()">Buat Matriks</button>
        </div>
    </div>

    <div class="opsi">
        <button onclick="kirim('tambah')">Penjumlahan</button>
        <button onclick="kirim('kurang')">Pengurangan</button>
        <button onclick="kirim('kali')">Perkalian</button>
        <button onclick="kirim('transpose','A')">Transpose A</button>
        <button onclick="kirim('transpose','B')">Transpose B</button>
        <button onclick="kirim('invers','A')">Invers A</button>
        <button onclick="kirim('invers','B')">Invers B</button>
        <button onclick="kirim('detA')">Determinan A</button>
        <button onclick="kirim('detB')">Determinan B</button>
        <hr>
        <h3>Transformasi Elementer (Baris/Kolom)</h3>

        <select id="obeType">
            <option value="row">Baris</option>
            <option value="col">Kolom</option>
        </select>

        <input type="number" id="obe_i" placeholder="i">
        <input type="number" id="obe_j" placeholder="j">
        <input type="number" id="obe_k" placeholder="k">

        <button onclick="obeExecute('swap')">Tukar i ↔ j</button>
        <button onclick="obeExecute('scale')">× i</button>
        <button onclick="obeExecute('add')">j + k*i</button>



    </div>

    <h2>Hasil</h2>
    <div id="hasil">—</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
